/*顶部导航begin*/
	.nav-site{
		height: 44px;
		background: #f3f5f7;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}
	.nav-category{
		line-height: 44px;
		margin:0 10px;
	}
	.nav-site .dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
		padding: 0 10px;
	}
	.nav-site .dropdown-arrow{
		margin-left: 5px;
	}
	.nav-site .dropdown-layer{
		top:43px;
		/*left:0px;*/
		background: #fff;
		border: 1px solid #f3f5f6;
	}
	.nav-site .menu-item{
		/*width: 100px;*/
		display: block;
		line-height: 30px;
		padding: 0 15px;
		white-space: nowrap;
	}
	.nav-site .menu-item:hover{
		background: #f3f5f6;
	}
	.menu-active .dropdown-layer{
		display: block;
	}
	.menu-active .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f6;
		border-right: 1px solid #f3f5f6;
	}
/*顶部导航end*/
/*头部begin*/
	.header{
		width: 1228px;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		height: 100px;
	}
	.header-logo{
		display: block;
		width: 150px;
		height: 71px;
		background:no-repeat;
		background-size: 150px;
		margin-top: 20px;
	}
	.header .search{
		margin-top: 36px;
		margin-left: 150px;
		margin-left: 200px;
	}
	.header .search-input{
		width: 500px;
		height: 40px;
		outline-width: 0px;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.header .search-btn{
		width: 80px;
		height: 40px;
		border:none;
		box-sizing: border-box;
		border:1px solid #ccc;
		border-left: none;
		outline-width: 0px;
		cursor: pointer;
		background: black;
		color: #fff;
	}
	.header .search-layer{
		border: 1px solid #ccc;
		border-top: none;
		box-sizing: border-box;
		z-index: 99;
	}
	.header .search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding:0 10px;
		box-sizing: border-box;
		background: #fff;
		cursor: pointer;
	}
	.header .search-item:hover{
		background: #f5f5f7;
	}	
/*头部end*/
/*主导航begin*/
	.main-nav{
		background: black;
	}
	.main-nav .link{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		position: relative;
		left: 120px;
		margin-right: 38px;
	}
	.main-nav .link:nth-child(1){
		margin-left: 120px;
	}
/*头部end*/
/*主导航begin*/
	.nav-main{
		background: black;
	}
	.nav-main .link{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		margin-right: 20px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航end*/
/*主要内容begin*/
	.focus{
		height: 516px;
		background: #f3f5f7;
		margin-bottom: 10px;
	}
	.category{
		position: relative;
		width: 208px;
		margin-top: -54px;
	}
	.category-title{
		display: block;
		width: 100%;
		height: 54px;
		line-height: 54px;
		background: #b1191a;
		font-size: 14px;
		color: #fff;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.category-title .icon{
		margin-right: 5px;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-toggle{
		width: 100%;
		height: 37px;
		line-height: 36px;
		box-sizing: border-box;
		background: #ea675a;
		padding-left: 10px;
		margin-right: 6px;
		cursor: pointer;

	}
	.category .dropdown-link{
		font-size: 14px;
		color: #fff;
	}
	.category .dropdown-icon{
		position: absolute;
		right: 10px;
		color: #fff;
		font-style: normal;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top:54px;
		left:100%;
		width: 774px;
		min-height: 504px;
		background: #fff;
		padding-bottom: 24px;
		box-sizing: border-box;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 764px;
	}
	.category-details-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
	.category-details-title-link{
		font-weight: bold;
	}
	.category-details-item{
		width: 670px;
		line-height: 20px;
	}
	.category-details-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background: #ccc;
	}
	.category-active .dropdown-link,
	.category-active .dropdown-icon{
		color: #ea675a;
	}
	.category .dropdown-loading{
		margin: 220px auto;

	}
	/*.focus .container{
		position: relative;
		left:100px;
	}*/
	/*.focus .category{
		position: absolute;
		left: 0px;
	}*/
	.focus .carousel{
		margin-top: 10px;
		margin-left: 6px;
	}
	.focus .carousel-container,
	.focus .carousel-container .carousel-item img {
		width: 768px;
		height: 504px;
	}	
	/*.focus .category{
		position: absolute;
		left: 0px;
	}*/

	.sidebar{
		width: 208px;
		height: 500px;
		margin-left: 10px;
		margin-top: 10px;
		/*border:1px solid #ccc;*/
		border-bottom: none;
	}
	.sidebar-top{
		height: 200px;
		border:1px solid #ccc;
	}
	
	.sidebar-top li:nth-child(1){
		padding-left: 10px;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		color: #b1191a;
	}
	.sidebar-top span{
		float: right;
		font-size: 12px;
	}
	li{
		list-style: none;
	}
	.sidebar-top li a{
		
		font-size: 12px;
		display: inline-block;
		margin-bottom: 10px;
		padding-left: 10px;
		/*padding-right: 10px;*/
		color: black;
		/*font-weight: bold;*/
	}
	.sidebar-bottom{
		/*width: 200px;*/
		height: 240px;
		border-top: 1px solid #ccc;
		border-top: none;
	}
	.sidebar-bottom li a{
		display:block;
		text-align: center;
		margin-bottom: 40px;
	}
	.sidebar-bottom li{
		position: relative;
		width: 50px;
		height: 70px;
		border:1px solid #ccc;
		border-top: none;
		border-right: none;
		text-align: center;
		box-sizing: border-box;
	}
	.sidebar-bottom li a .fas{
		color: #b1191a;
		font-size: 18px;
		position: absolute;
		left: 18px;
		top: 12px;
	}
	.sidebar-bottom li:nth-child(4),.sidebar-bottom li:nth-child(8),.sidebar-bottom li:nth-child(12){
		border-right: 1px solid #ccc;
		width: 53px;
	}
	.asidebar-img{
		margin-top: -30px;
	}
/*主要内容end*/
/*今日热销begin*/
	.todays{
		height: 275px;
	}
	.todays .container{
		width:1200px;
		height: 100%;
	}
	.todays .container li img{
		width: 200px;
		height: 275px;
	}
	.todays .ul1{
		display: none;
	}
	.todays .control {	
		position: absolute;
		top:50%;
		width: 24px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		margin-top: -30px;
		cursor: pointer;
		font-weight: bolder;
		background: black;
		opacity: 0.2;
	}
	.todays .control-left{
		left: 0px;
	}
	.todays .control-right{
		right: 0px;
	}
/*今日热销end*/
/*楼层begin*/
	.floor{
		height: 300px;
	}
	.floor .floor1-top h2{
		font-size: 20px;
	}
	.floor .floor1-top li{
		list-style: none;
		margin-left: 10px;
	}
	.floor .floor1-top{
		width: 1200px;
		height: 50px;
		/*line-height: 50px;*/
		background: white;
		padding-top: 20px;
		border-bottom: 1px solid #ccc;
		
	}
	.floor .floor1-bottom li{
		width: 200px;
		height: 210px;
		position: relative;
		left: 0px;
		background: white;
		/*margin-right: 20px;*/
		text-align: center;
		padding-top: 20px;
	}
	.floor .floor1-bottom .price{
		color: red;
	}
/*楼层end*/