/*top begin*/
.top{
	height: 40px;
	background: #333333;
}
.top .nav{
	width: 1228px;
	margin:0 auto;
}
.top .navl a{
	text-decoration: none;
	color: #b0b0b0;
	font-size: 13px;
	z-index: 99;
}
.top .navl li{
	list-style: none;
	float: left;
	line-height: 40px;
	padding-right: 10px;
}
.top .navl span{
	padding-left: 10px;
}
.top .navl a:hover,.top .navrr a:hover{
	color: white;
}
.top .navr{
	background: #424242;
	color: #b0b0b0;
	float: right;
	width: 124px;
	height: 40px;
	line-height: 40px;
}
.top .navr i,.top .navr a{
	text-decoration: none;
	color: #b0b0b0;
	font-size: 13px;
	padding-left: 14px;
}
.top .navr:hover{
	background: white;
}
.top .navr:hover a,.top .navr:hover i{
	color: #ff6700;
	
}
.top .navrr li{
	list-style: none;
	font-size: 14px;
	float: right;
	line-height: 40px;
	padding-right: 10px;
}
.top .navrr span{
	padding-left: 10px;
}
.top .navrr a{
	text-decoration: none;
	color: #b0b0b0;
}
/*top end*/
/*header begin*/
.header{
	width: 1228px;
	height: 100px;
	margin:0 auto;
	overflow: hidden;
}
.header .logo img{
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 21px;
}
.header .sou input{
	float: right;
	width: 245px;
	height: 50px;
	border: 1px solid #e0e0e0;
	margin-top: 24px;
}
.header .sou img{
	float: right;
	width: 52px;
	height: 52px;
	border: 1px solid #e0e0e0;
	margin-top: 24px;
}
.header .sou{
	position: relative;
}
.header .sou a:nth-of-type(1){
	background: #eeeeee;
	text-decoration: none;
	color: #757575;
	position: absolute;
	left: 1025px;
	margin-top: 41px;
	font-size: 12px;
}
.header .sou a:nth-of-type(2){
	background: #eeeeee;
	text-decoration: none;
	color: #757575;
	position: absolute;
	left: 1100px;
	margin-top: 41px;
	font-size: 12px;
}
.header .sou a:hover{
	background: #ff6700;
	color: white;
}
.header .sou img:hover{
	color: #ff6b00;
}
.header .daohang{
	margin-left: 190px;
}
.header .daohang li{
	float: left;
	margin-right: 21px;

}
.header .daohang ul li a{
	color: #333333;
	text-decoration: none;
	line-height: 100px;
}
.header .daohang a:hover{
	color: #ff6700;
}
/*header end*/
/*hot begin*/
.hot{
	width: 1228px;
	height: 640px;
	margin:0 auto;
}
.hot .hot-topl ul li{
	margin-top: 10px;
		/*padding-bottom: 18px;*/
}
.hot .hot-top .hot-topl{
	width: 235px;
	height: 459px;
	float: left;
	background-color: #626262;
}
.hot .hot-topl a{
	text-decoration: none;
	color: #ffffff;
	display:block;
	padding: 10px 0 10px 0;
	font-size: 14px;
	padding-left: 31px;
	position: relative;
}
.hot .hot-topl span{
	color: #b8b5aa;
	position: absolute;
	right: 24px;
	font-size: 18px;
	font-weight: bold;
	width: 8px;
	height: 12px;
}
.hot .hot-topl li:hover{
	background-color: #ff6700;
}
.hot .hot-topr{
	width: 3908px;
	height: 459px;
	margin-left: 15px;
	position: relative;
	/*overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;*/
}
.hot .hot-topr span{
	position: absolute;
}
.hot .hot-topr span:nth-child(1){
	top: 215px;
}
.hot .hot-topr span:nth-child(2){
	top: 215px;
	left: 950px;
}
.hot .hot-topr li:{
	width: 977px;
	height: 459px;
	float: right;
}
.hot .hot-topr img{
	width: 993px;
	height: 459px;
	/*float: right;*/
}
.hot .hot-bottoml{
	width: 235px;
	height: 169px;
	background-color: #5f5750;
}
.hot .hot-bottoml li{
	float: left;
	width: 79px;
	height: 81px;
}
.hot .hot-bottom a{
	text-decoration: none;
	color: #cccdcb;
	font-size: 12px;
}
/*hot end*/
/*main begin*/
.main{
	width: 1228px;
	height: 7381px;
	background: tomato;
	margin:0 auto;
}
/*main end*/
/*footer begin*/
.footer{
	height: 272px;
	background: green;
}
/*footer end*/
/*bottom begin*/
.bottom{
	height: 166px;
	background: blue;
}
/*bottom end*/